<%- include('partials/header', {title: 'IDK'} ); %>
<main class="page landing-page">
    <div class="container" style="height: 875px;">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5" style="margin-top: 0px;margin-bottom: 0px;height: 731px;">
                    <div class="card-body p-0">
                        <div class="row" style="height: 802px;">
                            <div class="col">
                                <section class="highlight-phone" style="background: rgb(238, 244, 247);">
                                    <div class="text-nowrap d-flex justify-content-center align-items-center animated-text noSelect" style="background: rgba(255,255,255,0);border-style: none;margin-top: 16px;width: 50%;margin-right: auto;margin-left: auto;"></div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="intro">
                                                    <h2 style="color: #FF3B3F;font-family: Montserrat, sans-serif;text-align: left;">Local Proach</h2>
                                                    <p style="color: #FF3B3F;">Company slogan or explanation.&nbsp;Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;</p><a class="btn btn-primary" role="button" href="register.html" style="background: #FF3B3F;border-bottom-color: rgb(255,0,0);margin-left: 0px;">start here!</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="d-none d-md-block phone-mockup"><img class="device" src="assets/img/phone.svg">
                                                    <div class="screen"><img style="height: 460.047px;width: 244.319px;padding-bottom: 0px;" src="assets/img/localbusiness.svg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="features-clean">
                                    <div class="container">
                                        <div class="intro">
                                            <h2 class="text-center" style="color: #FF3B3F;">Features</h2>
                                            <p class="text-center" style="color: #FF3B3F;">Local Proach creates an environment where supporting local businesses is .....</p>
                                        </div>
                                        <div class="row features">
                                            <div class="col-sm-6 col-lg-4 offset-lg-0 item"><i class="fas fa-hands-helping icon" style="color: #FF3B3F;font-size: 30px;margin-left: -50px;"></i>
                                                <h3 class="name" style="font-size: 17px;">Support local business</h3>
                                                <p class="description">Local Proach helps small businesses allowing them to get the recognition they deserve.</p>
                                            </div>
                                            <div class="col-sm-6 col-lg-4 item"><i class="fas fa-money-bill-wave icon" style="color: #FF3B3F;font-size: 30px;margin-left: -50px;"></i>
                                                <h3 class="name" style="font-size: 17px;">Earn Cash Back!</h3>
                                                <p class="description">As you spend money, you will accumulate points and earn cash back!</p>
                                            </div>
                                            <div class="col-sm-6 col-lg-4 item"><i class="fas fa-puzzle-piece icon" style="color: #FF3B3F;font-size: 30px;margin-left: -50px;"></i>
                                                <h3 class="name" style="font-size: 17px;">Chrome Plugin</h3>
                                                <p class="description">Download the Local Proach chrome <a href="https://chrome.google.com/webstore/category/extensions?hl=en">plug-in</a> to get started.</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= include('partials/footer'); %>