<!DOCTYPE html>
<html>
    <main class="page">
        <section class="clean-block features">
            <div class="container-fluid" style="padding: 33px;">
                <h1 style="font-size: 28px;text-align: center;color: #FF3B3F;margin-bottom: 27px;">User Profile</h1>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow" style="height: 226px;"><img class="rounded-circle mb-3 mt-4" src="assets/img/user.png" width="160" height="160" style="height: 90px;width: 90px;">
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="button" style="background: #FF3B3F;border-color: #ff0000;">Change Photo</button></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h1 style="height: 19px;margin: 0px;font-size: 16px;color: #FF3B3F;"><strong>My Rewards</strong></h1>
                            </div>
                            <div class="card-body" style="height: 261px;">
                                <h1 style="font-size: 16px;text-align: center;margin-top: 24px;"><strong>Total Points</strong></h1>
                                <h1 style="font-size: 64px;text-align: center;margin-top: 24px;"><strong>0</strong></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-success shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p style="color: #FF3B3F;margin-bottom: -0px;"><strong>User Information</strong></p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="username"><strong>Username</strong></label><input class="form-control" type="text" id="username" placeholder="User Name" name="username"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="email"><strong>Email Address</strong></label><input class="form-control" type="email" id="email" placeholder="Valid Email Address" name="email"></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="first_name"><strong>First Name</strong></label><input class="form-control" type="text" id="first_name" placeholder="First" name="first_name"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text" id="last_name" placeholder="Last" name="last_name"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p style="margin: 0px;color: #FF3B3F;"><strong>Contact Settings</strong></p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group"><label for="address"><strong>Full Address</strong></label><input class="form-control" type="text" id="address" placeholder="Enter a valid address" name="address"></div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="city"><strong>City</strong></label><input class="form-control" type="text" id="city" placeholder="Enter a valid city" name="city"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="country"><strong>Country</strong></label><input class="form-control" type="text" id="country" placeholder="USA" name="country"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5">
                    <div class="card-header py-3">
                        <p style="color: #FF3B3F;margin-bottom: 0px;width: 699.328px;"><strong>Supportive Preferences</strong></p>
                    </div>
                    <div class="card-body" style="height: 198px;padding-bottom: 0px;">
                        <p><strong>I like to support . . .</strong></p>
                        <div class="btn-toolbar">
                            <div class="btn-group" role="group" style="margin: 0px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px;"><button class="btn btn-outline-primary btn-sm" type="button" style="margin: 0px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px;color: #FF3B3F;border-color: #FF3B3F;background: #ffffff;">small</button><button class="btn btn-outline-primary btn-sm" type="button" style="margin: 0px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px;border-color: #FF3B3F;color: #FF3B3F;background: #ffffff;">local</button><button class="btn btn-outline-primary btn-sm" type="button" style="margin: 0px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px;color: #FF3B3F;border-color: #FF3B3F;background: #ffffff;">black-owned</button><button class="btn btn-outline-primary btn-sm" type="button" style="margin: 0px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px;color: #FF3B3F;border-color: #FF3B3F;background: #ffffff;">women-owned</button><button class="btn btn-outline-primary btn-sm" type="button" style="margin: 0px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px;border-color: #FF3B3F;color: #FF3B3F;background: #ffffff;">non-profit organizations</button></div>
                        </div>
                        <p style="margin-top: 16px;"><strong>Businesses</strong>.</p>
                    </div>
                </div><button class="btn btn-primary btn-sm" type="submit" style="background: #FF3B3F;border-color: rgb(255,0,0);width: 226.203px;height: 45px;margin-left: 418.5px;">Save&nbsp;Settings</button>
            </div>
        </section>
    </main>
</body>

</html>