<%- include('js-scripts');%>
<footer class="page-footer dark" style="background: rgb(43, 47, 49);height: 217px;padding: 0px;">
  <div class="container">
      <div class="row">
          <div class="col">
              <footer class="footer-basic" style="background: rgb(43, 47, 49);height: 140px;">
                  <div class="social"><a href="https://www.github.com" style="font-size: 17px;"><i class="icon ion-social-github" style="font-size: 17px;color: #000000;"></i></a><a href="https://www.instagram.com" style="font-size: 17px;"><i class="icon ion-social-instagram-outline" style="font-size: 17px;color: #000000;"></i></a><a href="https://www.facebook.com" style="font-size: 17px;"><i class="icon ion-social-facebook" style="font-size: 17px;color: #000000;"></i></a><a href="https://auburnhacks.devpost.com/" style="font-size: 17px;"><img src="assets/img/devpost.png" style="font-size: 43px;width: 18px;height: 18px;color: #FF3B3F;border-bottom-color: #FF3B3F;margin-bottom: 4px;margin-right: 1px;"></a></div>
                  <ul class="list-inline">
                      <li class="list-inline-item" style="font-size: 15px;"><a href="#" style="font-size: 15px;">Home</a></li>
                      <li class="list-inline-item" style="font-size: 15px;"><a href="profile.html" style="font-size: 15px;">Profile</a></li>
                      <li class="list-inline-item" style="font-size: 15px;"><a href="login.html" style="font-size: 15px;">Login</a></li>
                      <li class="list-inline-item" style="font-size: 15px;"><a href="register.html" style="font-size: 15px;">Register</a></li>
                  </ul>
                  <p class="copyright">Localpoach © 2021</p>
              </footer>
          </div>
      </div>
  </div>
</footer>